.panel {
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background: #f5ede2;
}
/* 
h1{
    font-family: "Montserrat",sans-serif;
    font-weight:600;
    font-size: 4em;
} */

.map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.map-container svg {
    width: 130%;
    height: auto;
    display: block;
}

/* Mobile devices (max 768px) */
@media (max-width: 768px) {
    .panel {
        min-height: 100vh;
        align-items: center;
    }

    .map-container svg {
        width: 100%;
    }
}

/* Tablets (768px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .map-container svg {
        width: 110%;
    }
}

/* Desktop (1024px and above) */
@media (min-width: 1025px) {
    .map-container svg {
        width: 130%;
    }
}
.first-scroll {
  height: auto;
  min-height: 100vh;
}
