.panel {
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background: #f5ede2;
}
/* 
h1{
    font-family: "Montserrat",sans-serif;
    font-weight:600;
    font-size: 4em;
} */

.map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.map-container svg {
    width: 130%;
    height: auto;
    display: block;
}